<mat-dialog-content>
    <div class="header-dialog">
        <h2 mat-dialog-title>COMPRA</h2> 
        <button mat-icon-button class="close-button" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="dialog-sell">
       <p class="user-amount"><span>AMOUNT:</span>{{data.amountCrypto | number: '1.2-2'}} €</p>
        <form (ngSubmit)="sell()">
            <mat-label>Indica una cantidad</mat-label>
            <div class="button-input">
                <input matInput type="number" name="amount" [(ngModel)]="amount">
                <button type="button" mat-icon-buton class="button-max-amount" (click)="maxAmount()">
                    MAX
                </button>
            </div>
            <div class="mat-dialog-actions">
                <button type="submit" [disabled]="loadingSell" class="mat-icon-button" >
                    <mat-spinner *ngIf="loadingSell" [diameter]="35" class="mat-spinner"></mat-spinner>
                    <span *ngIf="!loadingSell" class="mat-button-wrapper">SELL</span>
                </button>
            </div>
        </form>
    </div>
</mat-dialog-content>


