<div class="container-form-register">
    <mat-card>
        <form [formGroup]="registerForm" (ngSubmit)="signUp()">
            <div class="form-input">
                <mat-form-field appearance="fill">
                    <mat-label>USERNAME</mat-label>
                    <input type="username" matInput formControlName="username">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>EMAIL</mat-label>
                    <input type="email" matInput formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>PASSWORD</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>FULLNAME</mat-label>
                    <input type="fullname" matInput formControlName="fullname">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>DEPOSIT</mat-label>
                    <input type="deposit" matInput formControlName="deposit">
                </mat-form-field>
            </div>
            <button type="submit" class="btn-submit">SIGN UP</button>
        </form>
    </mat-card>
</div>
