.container {
    background-color: #EC0000;
    padding-bottom: 25px;
}

.logo {
    width: 58px;
    height: 62px;
    margin-left: 45px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 62px;
}

::ng-deep .mat-menu-trigger {
    background-color: #EC0000;
    border: none;
    margin-right: 25px;
    cursor: pointer;
}