<div class="container-form-login">
    <mat-card>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-input">
                <mat-form-field appearance="fill">
                    <mat-label>EMAIL</mat-label>
                    <input type="email" matInput formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>PASSWORD</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
            </div>
            <button type="submit" class="btn-submit">LOGIN</button>
            <p *ngIf="errorLogin">{{ errorLogin }}</p>
        </form>
    </mat-card>
</div>
