.succes-dialog-content {
    background-color: white;
    padding: 20px;
    font-size: 16px;
}

.succes-dialog-button {
    margin-left: 70%;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
}

.succes-dialog-button:hover {
    background-color: #0056b3;
    cursor: pointer;
}