.table-cryptos {
    width: 70%;
    margin-left: 10%;
}

.button-buy {
    background-color: red;
    border: none;
    width: 80%;
    height: 32px;
}

.button-shell {
    background-color: green;
    border: none;
    width: 80%;
    height: 32px;
}

.crypto-logo {
    width: 54px;
    margin: 12px 0px;
}